.nav-bar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #2d333f;
}
.nav-home {
    font-size: 25px;
    color: #303636
}
.home-icon{
    color: #d8d9db;
}
.nav-right {
    display: flex;
    margin-right: 10px;
}
.nav-logout {
    margin-left: 10px;
}

.nav-login {
    margin-right:30px;
}
.nav-add-application {
    text-decoration: none;
    background-color:#d8d9db;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    margin-right: 60px;
}
.nav-profile {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    margin-right: 10px;
    background-color:#ece7ea;

}
.nav-center {

    height:45px;
}
.logo {
    max-height: 100%;
}
.no-decoration {
    text-decoration: none;
    color: #233043;
}

.nav-logout-btn {
    border: none;
    font-size:18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
}
