.app-page-container {
    margin: 20px;
}

.app-info-container {

}
.app-job-name {
    font-size: 40px;
    margin-left : 20px;
    color: #1e2530;
    border-bottom: 1px solid grey;
    width: fit-content;
    margin-bottom: 10px;
}
.app-status {
    margin-left : 20px;
}
.app-updated-at {
    margin-left : 20px;
}
.app-job-title {
    font-size:25px;
    margin-left : 20px;
    color: #1e2530;
}

.app-description {
    margin-left : 20px;
    max-height: 200px;
    overflow-y: scroll;

    background-color: #bad0e4;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.app-decription-label {
    margin-left : 20px;
    margin-top: 30px;
    margin-bottom:3px;
}
