.app-page-container {
    margin: 40px;
}

.app-info-container {

}
.app-job-name {
    font-size: 40px;

    color: #1e2530;
    border-bottom: 1px solid grey;
    width: fit-content;
    margin-bottom: 10px;
}

.app-job-link {
    margin-left: 20px;
    color: #1e2530;
    font-size: 20px;

}
.app-status-select {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0px solid grey;
    border-radius: 5px;
    padding: 5px;
    background-color:#99B9D6;
    box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 10px;

}
.app-status {

}
.app-updated-at {

}
.app-job-title {
    font-size:25px;
    margin-bottom: 10px;
    color: #1e2530;
}

.app-description {

    max-height: 200px;
    overflow-y: scroll;

    background-color: #bad0e4;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.app-decription-label {

    margin-top: 20px;
    margin-bottom:3px;
}

.toggle-notes-btn {
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.app-edit-btns-container {
    margin-top: 10px;
}
.delete-app-btn {
    border: 0px;
    background-color:#F6E0ED;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    cursor: pointer;
}
.delete-app-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 10px;
}
.edit-app-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 10px;
}
.toggle-notes-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 10px;
}
.edit-app-btn {
    border: 0px;
    background-color:#d8d9db;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    cursor: pointer;
    margin-right: 30px;
}

.file-upload-form {
    margin-top:10px;
    display: flex;
    flex-direction: column;
}
.file-type-select {
    width: 100px;
    border: 0px;
    background-color:#d8d9db;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.upload-file-btn {
    width: 120px;
    border: 0px;
    background-color:#d8d9db;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.upload-selection {

}
.file-download-container {
    display: flex;
    flex-direction: column;
}
