.create-app-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    justify-content: space-between;
}
.create-app-form-container {
    border-radius: 4px;
    
}
.submission-btn-group {
    display: flex;
}
