.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-welcome {
    margin-bottom: 40px;
}

.sign-up-link {
    text-decoration: none;
}
