.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #233043;
    height: 85vh;
}

.login-welcome {
    margin-bottom: 70px;
}

.sign-up-link {
    text-decoration: none;
}

.login-errors {
    color: rgb(170, 21, 21);
}
