.app-display-container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 100%;
    justify-content: center;
}
@media (max-width: 768px) {
    .app-display-container{
        flex-direction: column;

    }
}
.goal-input {
    width: 50px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 4px;
    border: 0px;
    padding: 5px;
    margin-right: 15px;
}

.show-app-goal-form {
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    margin-top: 12px;
    cursor: pointer;
    background-color:#2d333f;
    color:#afb2b9;

}
.goal-message {
    margin-top: 12px;
    font-size: 18px;
}
body {
    font-family: 'Lato', sans-serif;
}

.home-header {

    display: flex;
    margin-left:30px;
    color: #1e2530;
    align-items: center;
}
.header-text {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
}

.home-container {
    height: 125vh;
}
#add-application-button {
    box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 2px;
    border: 0px;
    background-color:#afb2b9;
    color: #2d333f;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:4px;
    height: 33px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 700;
}
#add-application-button:hover {
    box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
    transition: 0.3s;
}
