.app-display-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    width: 100%;
    justify-content: center;
}
@media (max-width: 768px) {
    .app-display-container{
        flex-direction: column;

    }
}

body {
    font-family: 'Mukta', sans-serif;
}
