.app-card-container {
    margin-top:5px;
    margin-bottom:5px;
    border: 1px solid black;
    padding-left:5px;
    z-index: 2;
    border-radius:4px;
    display: flex;
    width: 90%;
    height: fit-content;
    transition: .7s;
    align-items: center;
    position: relative;
}

.app-card-move-btn {
    position: relative;
    left: 48px;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid green;
    border-right: 25px solid transparent;
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* border: none; */
}

.app-card-move-btn:hover {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
    border-right: 30px solid transparent;

}
.app-card-content {
    width: fit-content;
    position: relative;
    margin: 8px;
}
.app-card-company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.card-priority {
    margin-left: 10px;
    position: absolute;
    left: 173px;

}
.git-class {
    width: fit-content;
    position: relative;
    margin: 8px;
    width: fit-content;
    position: relative;
    margin: 8px;
    width: fit-content;
    position: relative;
    margin: 8px;
    width: fit-content;
    position: relative;
    margin: 8px;
    margin: 8px;
}
.app-card-company {
    font-weight: 700;
    font-size: 20px;
    max-width: 80%;

    text-decoration: none;
}
.app-card-link {
    text-decoration: none;
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    max-width: 100%;
    cursor: pointer;
}
/* .app-card-link:hover {
    font-size: 21px;
} */

.app-card-posting-link {

}

.app-card-posting-link:hover {
    color: #020202;
}
.scroll-button {
    font-weight: bolder;
    display: flex;
    position: absolute;
    left: 200px;
    align-content: center;
    justify-items: center;
    height: 45px;
    width: 45px;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    border: .0625rem solid #d8d9db;
    box-shadow: 0 0.125rem 0.5rem hsl(0deg 0% 60% / 40%);
    cursor: pointer;
    transition: 0.15s;
  /* display: inline-block; */
}
.scroll-button:hover {
    height: 40px;
    width: 50px;
    padding-left: 10px;
}
.chevron-right {
    align-self: center;
    justify-self: center;
    margin-left: 30%;
    font-size: 30px;
}
.app-card-date {
    font-size: 12px;
}
.app-card-job-title {
    margin-top: 3px;
    margin-bottom:5px;
    font-weight: 700;
}
