.note-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: 1px solid grey;
    padding: 15px;
    margin-top: 10px;
    width: 92%;
    border-radius:4px;
}

.note-display-title {
    font-size: 18px;
    width: fit-content;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom:5px;
}
.note-display-body {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;

}
.note-display-date {
    font-size: 13px;
    display: flex;
}

.note-display-buttons {
    display: flex;
    margin-top: 8px;
}
